body {
    overflow: hidden;
    display: flex;
    flex-direction: column;
    padding: 0;
    margin: 0;
}

.header {
    display: flex;
    align-items: center;
    display: flex;
    background-color: #000000;
    height: 14vh;
    width: 100vw;
}

.settings {
    height: 8vh;
    width: 5vw;
    margin: 0 2vh 0 7vw;
}

.character-info {
    height: 8vh;
    width: 5vw;
}

.fight {
    margin: 0 0 0 22vw;
    height: 10vh;
    width: 20vw;
}

.menu-image {
    display: block;
    height: 72vh;
    width: 100vw;
}

.register-container {
    position: absolute;
    background-color: #064f62;
    border: #000000 solid 0.5vh;
    height: 65vh;
    width: 33vw;
    margin: 3vh 0 0 65vw;
}

h1 {
    font-size: 6vh;
    font-family: 'Impact', sans-serif;
    color: #000000;
    margin: 2vh 0 0 2vw;
}

h2 {
    font-size: 5vh;
    font-family: 'Impact', sans-serif;
    color: #000000;
    margin: 4vh 0 0 2vw;
}

.register-name {
    background-color: #064f62;
    font-size: 4vh;
    font-family: 'Impact', sans-serif;
}

.your-avatar {
    position: absolute;
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
    max-width: 40%;
    height: auto;
    margin: 0vh 0 0 5vw;
}

.register-change {
    position: absolute;
    max-width: 10%;
    height: auto;
    margin: 2vh 0 0 3.5vw;
}

.register-confirm {
    position: absolute;
    max-width: 11.7%;
    height: auto;
    margin: 10vh 0 0 3.2vw;
}

.hide-choice-avatar-container {
    display: none;
}

.choice-avatar-container {
    position: absolute;
    display: flex;
    background-color: #064f62;
    border: #000000 solid 0.5vh;
    height: 51vh;
    width: 62vw;
    margin: 3vh 0 0 1.4vw;
}

.avatar-container {
    height: 45vh;
    margin: 3vh 1vw 0 1vw;
}

.avatar {
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
    max-width: 100%;
    height: auto;
}

.text-stats {
    font-size: 3vh;
    font-family: 'Impact', sans-serif;
}

.button-confirm {
    position: absolute;
    max-width: 6%;
    height: auto;
    margin: 2vh 0 0 0vw;
}












.footer {
    display: flex;
    align-items: center;
    justify-content: space-around;
    background-color: #000000;
    height: 14vh;
    width: 100vw;
}

.rs-link {
    font-size: 6vh;
    font-family: 'Impact', sans-serif;
    color: #BA0D80;
}



@font-face {
  font-family: 'Impact';
  src: url('assets/font/Impact.otf') format('opentype');
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}