body {
    overflow: hidden;
    display: flex;
    flex-direction: column;
    padding: 0;
    margin: 0;
}

.header {
    display: flex;
    align-items: center;
    display: flex;
    background-color: #000000;
    height: 14vh;
    width: 100%;
}

.settings {
    height: 8vh;
    width: 8vh;
    margin: 0 2vh 0 14vh;
}

.character-info {
    height: 8vh;
    width: 8vh;
}

.fight {
    margin: 0 0 0 40vh;
    height: 10vh;
    width: 35vh;
}

.menu-image {
    display: block;
    height: 72vh;
    width: 100%;
}

.register-container {
    position: absolute;
    background-color: #064f62;
    border: #000000 solid 0.5vh;
    height: 65%;
    width: 33%;
    margin: 3vh 0 0 120vh;
}

h1 {
    font-size: 48px;
    font-family: 'Impact', sans-serif;
    color: #000000;
    margin: 2vh 0 0 4vh;
}

h2 {
    font-size: 36px;
    font-family: 'Impact', sans-serif;
    color: #000000;
    margin: 5vh 0 0 4vh;
}

.register-name {
    background-color: #064f62;
    font-size: 32px;
    font-family: 'Impact', sans-serif;
}

.avatar {
    background-image: url("assets/player-avatar/player-avatar-1.png");
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
    aspect-ratio: 1 / 1;
    max-width: 65%;
    height: auto;
    margin: -5vh 0 0 13vh;
}

.register-change {
    position: absolute;
    max-width: 10%;
    height: auto;
    margin: -30vh 0 0 4vh;
}

.register-confirm {
    position: absolute;
    max-width: 11.7%;
    height: auto;
    margin: -22vh 0 0 3.5vh;
}

.footer {
    display: flex;
    align-items: center;
    justify-content: space-around;
    background-color: #000000;
    height: 14vh;
    width: 100%;
}

.rs-link {
    font-size: 48px;
    font-family: 'Impact', sans-serif;
    color: #BA0D80;
}



@font-face {
  font-family: 'Impact';
  src: url('assets/font/Impact.otf') format('opentype');
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}